{% block content %}
<div class="container" style=" max-width: 1140px!important;">
    <div class="row">
        <div class="col-sm-12">
        <h1>Mapbox</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Filters
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="Search">
                    </div>
                </div>
        </div>
        <div class="col-sm-8">
            <div id='map' style='width: 100%; height: 500px;'></div>
        </div>
    </div>
</div>
{% endblock %}


<script>
    mapboxgl.accessToken = '{{ mapbox_token }}';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9, // starting zoom
    });

    map.on('load', () => {
        map.loadImage(
            'https://cdn-icons-png.flaticon.com/512/2776/2776063.png',
            (error, image) => {
            if (error) throw error;
            
            // Add the image to the map style. 
            map.addImage('cat', image);
                map.addSource('points', {
                    type: 'geojson',
                    data: 'http://localhost/wp/wp-json/agentfire/v1/test/markers'
                    });

                    map.addLayer({
                        'id': 'points',
                        'type': 'symbol',
                        'source': 'points',
                        'layout': {
                            'icon-image': 'cat',
                            'icon-size': 0.10
                        }
                        });
                    });
                });

    function add_marker (event) {
         var marker = new mapboxgl.Marker();
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
        marker.setLngLat(coordinates).addTo(map);

        let form='<form style="padding:20px;">'+
                '<div class="form-group row">'+
                '<label for="name" class="col-sm-2 col-form-label">Name</label>'+
                '<div class="col-sm-10">'+
                    '<input type="text" class="form-control" id="name" placeholder="Name">'+
                    '</div>'+
                '</div>'+
                '<input type="hidden" name="lng" value="'+coordinates.lng+'"/>'+
                '<input type="hidden" name="lat" value="'+coordinates.lat+'"/>'+
                '<div class="form-group row">'+
                    '<div class="col-sm-2">Tags</div>'+
                    '<div class="col-sm-10">'+
                    '<div class="form-check">'+
                        '<input class="form-check-input" type="checkbox" id="gridCheck1">'+
                        '<label class="form-check-label" for="gridCheck1">'+
                       'Tag 1'+
                        '</label>'+
                    '</div>'+
                    '</div>'+
                '</div>'+
                '<div class="form-group row">'+
                    '<div class="col-sm-10">'+
                    '<button type="submit" class="btn btn-primary">Save</button>'+
                    '</div>'+
                '</div>'+
                '</form>';
        new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(form)
        .addTo(map);
    }

    map.on('click', add_marker);
</script>
